.table-container {
  overflow: scroll;
  max-height: 85vh;
  /* Adjust height as needed */
}

.table-container th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #b4d2f5;
  font-weight: bold;
  z-index: 1;
  /* Sticky first row with z-index */
}

.table-container td {
  background-color: #b7d3f3;
}

.table-container .monthly-cost-cells {
  background-color: rgb(252, 193, 104);
}