.table-container {
  overflow: scroll;
  max-height: 85vh;
  /* Adjust height as needed */
}

.table-container th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d6e7fa;
  font-weight: bold;
  z-index: 1;
  /* Sticky first row with z-index */
}

.table-container td {
  background-color: #d6e7fa;
}

*/ .table-container .monthly-cost-cells {
  background-color: rgb(250, 176, 65);
}